.slick-prev:before:hover,
.slick-next:before:hover {
  color: rgb(255, 0, 0) !important; /* red color */
}

.slick-prev:before,
.slick-next:before {
  color: rgb(0, 68, 255) !important;
  font-size: 28px !important;
  background-image: none;
  opacity: 1;
}
