.slick-prev:before:hover,
.slick-next:before:hover {
  color: rgb(255, 0, 0) !important; /* red color */
}

.slick-prev:before,
.slick-next:before {
  color: rgb(0, 68, 255) !important;
  font-size: 28px !important;
  background-image: none;
  opacity: 1;
}

.slick-dots li button:before,
.slick-dots li button:after {
  color: hsl(0, 0%, 40%);
}
.slick-dots li.slick-active button:before {
  color: hsl(0, 0%, 10%);
}

.slick-dots li button {
  scale: 101%;
}
